/* Reset some default styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
}

/* Style the container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-family: Consolas, monospace;
}

/* Style the form */
form {
    display: flex;
    flex-direction: column;
    color: white;
    
}

/* Style the labels */
label {
    margin-bottom: 5px;
    color: white;
    font-family: Consolas, monospace;
}

/* Style the input fields */
input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid grey;
    font-family: Consolas, monospace;
    border-radius: 5px;
}

/* Style the submit button */
input[type="submit"] {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: Consolas, monospace;
}

/* Change the background color on hover for the submit button */
input[type="submit"]:hover {
    background-color: lightblue;
}

/* Style for the error/warning message */
.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li.warning {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
