/* Reset some default styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
     color: lightgrey;
     background-color: black;

}

/* Full height layout */
body {
    display: flex;
    flex-direction: column;
    color: beige;
}

/* Header styles */
h1 {
    background-color: #232629;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0px;
    top: 0px;
    margin-top: 0px;
    border-radius: 10px;
    font-family: Consolas, monospace;
}

/* Chat area styling */
textarea#chat {
    width: calc(100% - 20px);
    height: calc(100% - 150px); /* Adjust as needed */
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    color: white; /* Changed text color to white */
    background-color: black; /* Changed background color to black */
    font-family: Consolas, monospace;
}

/* Message input field styling */
input#text {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #232629;
    color: white;
}

/* "Leave this room" link styling */
a {
    color: red;
    margin: 10px;
}

/* Form styling for the second HTML file */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Adjust as needed */
    color: black; 

}

/* Label styling */
form label {
    margin-bottom: 5px;

    color: black;
}

/* Input and select field styling */
form input, form select {
    padding: 10px;
    margin-bottom: 20px; /* Adjust as needed */
    border: none;
    border-radius: 5px;
    min-width: 200px; /* Adjust as needed */
}

/* Submit button styling */
form input[type="submit"] {
    background-color: #333;
    color: green;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}



