<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}" type="text/css">
</head>

<body>
    <div class="container">
        <h2>Create a Room</h2>
        <form action="{{ url_for('.create_room') }}" method="post">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <input type="submit" value="Create Room">
        </form>
    </div>
</body>

</html>
