<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}" type="text/css">
</head>

<body>
    <div class="container">
        <h2>Create a Room</h2>
        <form action="{{ url_for('.create_room') }}" method="post">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <div class="checkbox-container">
                <label for="terms">
                    <input type="checkbox" id="terms" name="terms" required>
                    I agree to the <a href="/terms_and_conditions">Terms and Conditions</a>.
                </label>
            </div>
            <input type="submit" value="Create Room" id="createRoomBtn" disabled>
     
        </form>

    </div>

    <script>
        // Get references to the checkbox and the button
        const termsCheckbox = document.getElementById('terms');
        const createRoomBtn = document.getElementById('createRoomBtn');
    
        // Add an event listener to the checkbox
        termsCheckbox.addEventListener('change', function() {
            if (termsCheckbox.checked) {
                // If the checkbox is checked, enable the button
                createRoomBtn.removeAttribute('disabled');
            } else {
                // If the checkbox is unchecked, disable the button
                createRoomBtn.setAttribute('disabled', 'true');
            }
        });
    </script>
 
</body>

</html>
