<!DOCTYPE html>
<html>
<head>
    <title>P-Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" type="text/css">
</head>
<body>
    <h1>P-Chat -- Active users: {{ active_users }}</h1> 
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
        {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
        {{ form.submit() }}
    </form>


</body>
</html>
