<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Pacific Chat</h1>
        <div class="options">
            <a href="{{ url_for('.create_room') }}" class="btn">Create a Room</a>
            <a href="{{ url_for('.join_room') }}" class="btn">Join a Room</a>
        </div>
    </div>
</body>

</html>
